:root{
    --mainColor:black;
    --secondaryColor:black;

    --borderColor:white;
    
    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder: #fff;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --buttonColor: #17a2b8;
}

.icons {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 70px;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid black;
    transition: .5s;
}

.icons:hover {
	border: 3px solid #fff;
    visibility: visible;
    transition: .5s;
}
