:root{
	--mainColor:#190061;
	--secondaryColor:#0c0032;

	--borderColor:white;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#0c0032;
	--previewShadow:#240090;

	--buttonColor:#240090;
}

.icons {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 70px;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid #0c0032;
    transition: .5s;
}

.icons:hover {
	border: 3px solid #fff;
    visibility: visible;
    transition: .5s;
}
