:root{
    --mainColor:#d8c3a5;
    --secondaryColor:#eae7dc;

    --borderColor:#161914;
    
    --mainText:#e85a4f;
    --secondaryText:black;

    --themeDotBorder: #fff;

    --previewBg: #eae7dc;
    --previewShadow: #e98074;

    --buttonColor: #e98074;
}