:root{
    --mainColor:#d8c3a5;
    --secondaryColor:#eae7dc;

    --borderColor:#161914;
    
    --mainText: #23395d;
    --secondaryText:black;

    --themeDotBorder: #fff;

    --previewBg: #eae7dc;
    --previewShadow: #d8c3a5;

    --buttonColor: #23395d;
}

/* a{
    text-decoration: none;
    color:#f74c09;
} */

.icons {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 70px;
    padding: 20px 20px;
    color: #23395d;
    border: 1px solid #eae7dc;
    transition: .5s;
}

.icons:hover {
	border: 3px solid #d8c3a5;
    visibility: visible;
    transition: .5s;
}
